DOWNLOAD_DIR=downloads
DATA_DIR=data
MAX_FILESIZE_MB=500
CLEANUP_AFTER_MINUTES=30
FLASK_PORT=5000
FLASK_DEBUG=False

MAX_CONTENT_LENGTH_KB=16

HISTORY_LIMIT=50
INFO_CACHE_SECONDS=120

COOKIES_FILE=

COOKIES_FROM_BROWSER=
